.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem;
  }
  
  .product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
@media (max-width: 768px) {
    .product-card{

        border:1.5px solid #ddd;
         border-radius:5px;
          text-align:center;
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    }
    .product-card img {
        width: 300px;
        height: 300px;
}
.product-card h3 {
    margin-bottom: 0;
    font-size: 30px;
}
.product-card p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
  }
  .product-card a {
    margin-top: 0;
  }
  
}