.home-container {
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
  }
  
  /* HERO */
  .hero {
    background: linear-gradient(to right, #1f2937, #374151);
    color: white;
    padding: 3rem;
    border-radius: 12px;
    margin-bottom: 2rem;
  }
  
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .btn-primary {
    background: #facc15;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* CATEGORY ICONS */
  .categories {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .category-box {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    flex: 1;
    text-align: center;
    font-weight: bold;
  }
  
  /* FEATURED PRODUCTS */
  .featured h2 {
    margin-bottom: 1rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
  }
  
  .product-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  /* BROWSE CATEGORY */
  .browse {
    margin-top: 2rem;
  }
  
  .browse-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .browse-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    font-weight: bold;
  }
  .old-price {
    text-decoration: line-through;
    color: gray;
  }
  
  .discount-price {
    color: rgb(21, 1, 1);
    font-weight: bold;
  }
  .hero {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    padding: 60px 10%;
    color: white;
  }
  
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  
  .hero-content {
    max-width: 500px;
  }
  
  .hero h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #cbd5e1;
  }
  
  .btn-primary {
    background: #ff6a00;
    border: none;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background: #ff4500;
  }
  
  .hero-image img {
    width: 380px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  }
  
  .hero-image img {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  @media (max-width: 768px) {

    .hero-image img {
    display: none;
  }
  .categories{
    display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 25px;
  }
  
  }